charts/**/charts
temp/
tests/
wsl2/src/
.env
devops-toys
devops-toys.pub
Brewfile.lock.json
config-windows.yaml
devopos-toys.ca.crt
kubeconfig
kuttl-minimal.yaml
ca.crt
ca.key
README-old.md
Brewfile
Makefile-old
ingress-test.yaml
client_secret_699740198104-46guukldme7f9ufd96dvo1b68mg92hur.apps.googleusercontent.com.json
encoded.json
encoded2.json
devopslaboratory-90293f4248d7.json